html {
    scroll-behavior: smooth; /* Плавная прокрутка */
}

body::-webkit-scrollbar {
    width: 10px;  
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 2px solid #ffc2fc;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: black;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150px;
    background-color: rgba(0,0,0,1);
}

.header-buttons{
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.header-button{
    width: 200px;
    display: flex;
    height: 150px;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    list-style-type: none;
    transition-duration: 0.35s;
    justify-content: space-around;
}

.header-button:hover{
    display: flex;
    background-color: #ffc2fc;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000; 
    overflow: hidden; 
}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000; 
    transform: translate(-50%, -50%);
}

body{
    margin: 0;
    width: 100%;
    height: 2400px;
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 24px;
    background-image: url("assets/videos/mixkit-night-sky-covered-with-stars-39768-full-hd.mp4");
}

.about-me{
    display: flex;
    margin-top: 300px;
    width: 100%;
    justify-content: center;
    gap: 350px;
}

.me-pic{
    background-image: url("assets/images/me.jpg");
    background-size: 320px 320px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px #ffc2fc;
    transition-duration: 0.35s;
}

.me-pic:hover{
    background-image: url("https://media1.tenor.com/m/r0ekx4XglNwAAAAC/dog-beer-happy-dog.gif");
    width: 320px;
    height: 320px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px #ffc2fc
}

.ul-about-me{
    display: list-item;
    list-style-image: url('assets/images/hashtag.png');
}

button{
    margin-top: 70px;
    display: flex;
    width: 190px;
    height: 30px;
    border-radius: 28px;
    border-style: solid;
    border-color: #ffc2fc;
    background-color: black;
    font-family: "Fira Sans", sans-serif;
    letter-spacing: 0.5px;
    font-size: 18px;
    color: white;
    justify-content: center;
    align-items: center;
    transition-duration: 0.35s;
}

button:hover{
    margin-top: 70px;
    display: flex;
    width: 190px;
    height: 30px;
    border-radius: 28px;
    border-style: solid;
    border-color: #ffc2fc;
    background-color: #ffc2fc;
    font-family: "Fira Sans", sans-serif;
    letter-spacing: 0.5px;
    font-size: 18px;
    color: black;
    text-align: center;
    box-shadow: 0px 0px 20px #ffc2fc
}


.section {
    height: 100vh; /* Высота каждой секции равна высоте экрана */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}
